@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #84a6d3;
    min-height: 100vh;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.white_board {
    background-color: #FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

#searchbox {
    border-radius: 53px;
    /* border: 2px solid #609; */
    padding: 40px;
    width: 100%;
    height: 200px;
    display: block;
    font-size: 20px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Параметры тени */
    outline: none;
    border-color: white;
    resize: none;
}

.search_button {

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #FF5F00;
    border-radius: 40px;
    /* border: 2px solid #609; */
    width: 350px;
    height: 60px;
    margin-top: 35px;

    position: relative;

    font-size: 40px;

    outline: none;

    border: none;

    transition: background-color .2s linear;

    text-decoration: none;
    color: white;

}

.search_button:hover {
    background-color: #c44900;
}


.filterbox {
    border-radius: 53px;
    /* border: 2px solid #609; */

    width: 55.5%;
    height: auto;

    top: 40px;

    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    background: #FFA773;


}

.resultbox {
    background: #FFA773; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 15px 30px; /* Поля вокруг текста */
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
    border-radius: 53px; /* Уголки */

    width: 700px;
    height: auto;
}

.resultbox:last-child {
    margin-bottom: 0;
}

#results {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}


.flexbox {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.box {
    padding: 5%;
}

.container {
    max-width: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
}

ul {
    padding-inline-start: 0;
}

ul.ks-cboxtags {
    list-style: none;

}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-flex;

    align-items: center;
    justify-content: center;

    background-color: #F2E9DB;

    color: #adadad;
    border-radius: 10px;
    white-space: nowrap;
    margin: 3px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

ul.ks-cboxtags li label {
    padding: 0 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;

}


ul.ks-cboxtags li input[type="checkbox"]:checked + label {

    background-color: #84A6D3;
    color: #fff;

}

ul.ks-cboxtags li input[type="checkbox"] {
    /*display: absolute;*/
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="radio"]:checked + label {

    background-color: #84A6D3;
    color: #fff;

}


ul.ks-cboxtags li input[type="radio"] {
    /*display: absolute;*/
}

ul.ks-cboxtags li input[type="radio"] {
    position: absolute;
    opacity: 0;
}


.rounded-input {
    border-radius: 15px;
    width: 4rem;
    height: 1.5rem;
    outline: none;
    background-color: white;
    border: 0px;
    padding: 0.5rem;

}

/* Admin panel */
/*---------------------------------------------------*/
.file {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: antiquewhite; /* Цвет фона */
    color: #adadad; /* Цвет текста */
    padding: 15px 30px; /* Поля вокруг текста */
    margin: 40px;

    border-radius: 53px; /* Уголки */
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.admin_container {
    background: #FFA773; /* Цвет фона */
    color: #000000; /* Цвет текста */
    padding: 40px 30px; /* Поля вокруг текста */
    margin-bottom: 40px;

    border-radius: 0 0 53px 53px; /* Уголки */
    min-height: 80%;
    display: flex;

    flex-direction: row;
    width: 100%;


}


.name_input {
    width: 80%;

    background: #FFFFFF; /* Цвет фона */
    color: #000000; /* Цвет текста */
    padding: 15px 30px; /* Поля вокруг текста */
    margin-bottom: 15px;

    border-radius: 53px; /* Уголки */
    border: none;


}

.admin_column {


    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    display: flex;


    flex-direction: column;
    width: 100%;

    align-items: start;


}

.save_button {

    background-color: #84A6D3;
    color: antiquewhite;
    padding: 15px 30px; /* Поля вокруг текста */

    border-radius: 53px; /* Уголки */

    align-items: center;
    justify-content: center;

    border: none;

}

.annotation {
    background-color: #FFFFFF;
    padding: 15px 30px; /* Поля вокруг текста */
    margin-bottom: 15px;

    border-radius: 40px; /* Уголки */
    height: 500px;
    width: 100%;
    border: none;
    resize: none;

}

.column_text {
    margin-bottom: 15px;
}


/* Login screen */
/* -------------------------------------------------- */

.wrapper {
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    overflow: auto;

}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 50%;
    height: 25%;

    background-color: #FFA773;

    border-radius: 30px;
}
