<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Авторизация</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    {% block title %}
    {% endblock%}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>

<div class="wrapper">
    <div class="block">

        <form method="POST">
            {% csrf_token %}
            {% for f in form %}
            <div class="input-wrapper"><label for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div>
            {% endfor %}
            {% if form.errors %}
            <p>Неверны введены логин или пароль</p>
            {% endif %}

            <button type="submit" class="save_button">Войти</button>
        </form>
    </div>
</div>
</body>
</html>